@font-face {
  font-family: "Black Ops One";
  src: url("../assets/font/BlackOpsOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../assets/font/Roboto-Medium.ttf") format("font/ttf");
  font-weight: 500;
  font-style: normal;
}
