@font-face {
  font-family: "Black Ops One";
  src: url("../../assets/font/BlackOpsOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.splash-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/image/scatterd star.webp");
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveBackground 5s linear infinite;
}

.splash-char {
  width: 261px;
  height: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-logo {
  font-family: "Black Ops One", sans-serif;
  font-size: 32px;
  color: white;
  position: absolute;
  bottom: 322px;
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes moveBackground {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
